---
layout: default
---

<div class="home">

    <ul class="post-list">
    {% assign there_is_stickys = false %}
    {% for post in site.posts %}
    {% if post.sticky == true or post.sticky == "true" %}
        {% assign there_is_stickys = true %}
        <li>
            <h2 class="post-list-heading">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{% if post.post-title %}{{ post.post-title }}{% else %}{{ post.title }}{% endif %}</a>
            </h2>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <article class="excerpt">{{ post.content }}</article>
        </li>
    {% endif %}
    {% endfor %}
    {% if there_is_stickys == true or there_is_stickys == "true" %}
        <li class="reduced_margin">
            <hr />
        </li>
    {% endif %}
    {% for post in site.posts limit: 2 %}
    {% if post.sticky != true and post.sticky != "true" %}
        <li>
            <h2 class="post-list-heading">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{% if post.post-title %}{{ post.post-title }}{% else %}{{ post.title }}{% endif %}</a>
            </h2>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <article class="excerpt">{{ post.content }}</article>
        </li>
    {% endif %}
    {% endfor %}
    {% for post in site.posts offset: 2 %}
    {% if post.sticky != true and post.sticky != "true" %}
        <li>
            <h2 class="post-list-heading">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{% if post.post-title %}{{ post.post-title }}{% else %}{{ post.title }}{% endif %}</a>
            </h2>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <article class="excerpt">
                {{ post.excerpt }}
                <div>
                    <a href="{{ post.url | prepend: site.baseurl }}">Read more ...</a>
                </div>
            </article>
        </li>
    {% endif %}
    {% endfor %}
    </ul>

</div>
<div>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script defer src="{{ "/assets/scripts/footer-on-scroll-down.js" | prepend: site.baseurl }}"></script>
</div>
