/**
 * Site header
 */
.site-header {
    background-color: lighten(whitesmoke, 2%);
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 76px;

    // Positioning context for the mobile navigation icon
    position: relative;
    
    @include media-query($on-smart) {
        min-height: 56px;
    }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-tag {
    color: gray;
    margin-top: 46px;
    position: absolute;
    z-index: 999;
    
    @include media-query($on-smart) {
        display: none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    list-style: none;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        list-style: none;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-smart) {
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        text-align: right;
        line-height: $base-line-height;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    background-color: lighten(whitesmoke, 2%);
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

#hover-footer {
    bottom: 0;
    height: 85px;
    opacity: 0;
    position: fixed;
    -moz-transition: visibility 0s linear 0.5s, opacity 0.2s linear;
    -o-transition: visibility 0s linear 0.5s, opacity 0.2s linear;
    -webkit-transition: visibility 0s linear 0.5s, opacity 0.2s linear;
    transition: visibility 0s linear 0.5s, opacity 0.2s linear;
    visibility: hidden;
    -webkit-backface-visibility: hidden; 
    -webkit-transform: translateZ(0);
    width: 100%;
}

#hover-footer.scroll-down {
    opacity: 1;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    visibility: visible;
    
    @include media-query($on-tablet) {
        display: none;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(48% - (#{$spacing-unit} / 2));
    width:         calc(48% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(48% - (#{$spacing-unit} / 2));
    width:         calc(48% - (#{$spacing-unit} / 2));
}

@include media-query($on-tablet) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-smart) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
    
    > li.reduced_margin {
        margin-bottom: $spacing-unit - 10;
    }
    
    article.excerpt {
        background-color: lighten(whitesmoke, 2%);
        border: 1px solid $grey-color-light;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin-top: 10px;
        padding: 12px 10px 1px 10px;
        
        > div {
            margin-bottom: 15px;
        }
    }
}

h2.post-list-heading {
    margin-bottom: 0;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    
    img {
        margin-bottom: 3px;
        vertical-align: middle;
    }
}

.post-link {
    display: block;
    font-size: $base-font-size + 12;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: $base-font-size + 14;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;

    div.migrated {
        background-color: lighten(whitesmoke, 2%);
        border: 1px solid $grey-color-light;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        font-style: italic;
        margin-bottom: $spacing-unit;
        padding: 12px 10px 10px 10px;
        text-align: center;
    }

    h1 {
        font-size: 2em;

        @include media-query($on-tablet) {
            font-size: 1.75em;
        }
    }

    h2 {
        font-size: 1.75em;

        @include media-query($on-tablet) {
            font-size: 1.5em;
        }
    }

    h3 {
        font-size: 1.5em;

        @include media-query($on-tablet) {
            font-size: 1.17em;
        }
    }

    h4 {
        font-size: 1.17em;

        @include media-query($on-tablet) {
            font-size: 1.12em;
        }
    }

    h5 {
        font-size: 1.12em;

        @include media-query($on-tablet) {
            font-size: .83em;
        }
    }

    h6 {
        font-size: .83em;

        @include media-query($on-tablet) {
            font-size: .75em;
        }
    }

    hr {
        margin-bottom: 10px;
    }
}
