nav.site-nav {
    a {
        color: white;
        display: block;
        padding-left: 15px;
        text-decoration: none;
        
        @include media-query($on-smart) {
            padding-left: 0;
        }
    }
    
    a:hover {
        color: $grey-color;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    li li {
        font-size: .85em;
    }
    
    @include media-query-min($on-smart) {
        > ul > li {
            text-align: center;
        }

        > ul > li > a {
            padding-left: 0;
        }
        
        li {
            border-bottom: none;
            display: inline-block;
            line-height: 50px;
            margin-right: -4px;
        }

        li:hover > ul.submenu {
            display: block;
        }
        
        li ul.submenu {
            display: none;
            position: absolute;
            width: inherit;
        }

        li ul li {
            display: block;
        }
    }
    
    @include media-query-min($on-smart) {
        ul.submenu > li > a.page-link:before {
            content: "| ";
        }
    }
    
    @include media-query($on-smart) {
        ul.submenu > li > a.page-link:after {
            content: " |";
        }
    }
}
