<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        <script type="text/javascript">
	        $(document).ready(function() {
                $('.fancybox').fancybox({
                    openEffect: 'elastic',
                    padding: 5
                });
            });
        </script>

        {% include header.html %}

        <div id="page-content" class="page-content">
            <div class="wrapper">
                {{ content }}
            </div>
        </div>

        {% include footer.html %}

    </body>

</html>
